/deepspeech-0.7.4-models.pbmm
/deepspeech-0.7.4-models.scorer
/deepspeech-0.7.4-models.tflite
/deepspeech-0.8.0-models.pbmm
/deepspeech-0.8.0-models.tflite
/deepspeech-0.8.0-models.scorer
/deepspeech-0.9.3-models.pbmm
/deepspeech-0.9.3-models.scorer
/deepspeech-0.9.3-models.tflite
